[Unit]
Description=Serviço de processamento de alarmes por email
After=network.target mysqld.service
Requires=mysqld.service

[Service]
User=opc
Group=opc
WorkingDirectory=<DIR_DO_PROJETO>
ExecStart=<PATH_DO_BIN_NODE> <DIR_DO_PROJETO>/processEmailAlarms.js

Restart=on-failure
RestartSec=300s

[Install]
WantedBy=multi-user.target
