[Unit]
Description=Executa o serviço Process Email Alarms a cada 5 minutos
Requires=process-email-alarms.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=process-email-alarms.service

[Install]
WantedBy=timers.target
