[Unit]
Description=SolarMon Web Server
After=network.target mysql.service

[Service]
Type=simple
User=solarmon
Group=solarmon
WorkingDirectory=%PROJECT_PATH%
ExecStart=%NODE_PATH% %PROJECT_PATH%/webserver.js
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=solarmon-web

[Install]
WantedBy=multi-user.target
